/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    float: left;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    transform: scale(1.1);
}

.hero {
    background: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.orders,
.inventory-games,
.inventory-platforms {
    background-color: #fff;
    padding: 50px 0;
}

.orders h2,
.inventory-games h2,
.inventory-platforms h2 {
    text-align: center;
}

.orders p,
.inventory-games p,
.inventory-platforms p {
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}